<nav-bar></nav-bar>
<button class="create-btn" (click)="onCreateJobAd()">Create Job Ad</button>

<div class="news-container">
  <h2>Job Ads</h2>

    <h2><input
    type="text"
    placeholder="Search job ads..."
    [(ngModel)]="searchTerm"
    class="search-input"
  /></h2>

  <div class="news-list" *ngIf="filteredJobAds != null; else noJobAds">
    <div class="news-item" *ngFor="let job of filteredJobAds; let i = index">
      <div class="news-content">
        <div (click)="seeCompany(job.company_id)" style="cursor:pointer;">
          <h3>{{ job.company_name }}: {{ job.ad_title }}</h3>
        </div>
        <p><b>Type:</b> {{ job.job_type }}</p>
        <p><b>Qualification:</b> {{ job.qualification }}</p>
        <p class="description">{{ job.job_description }}</p>
      </div>
      <div class="news-actions">
        <button class="delete-btn" *ngIf="job.company_id == company._id"
        (click)="deleteJobAd(job._id!)">Delete</button>
        <button class="delete-btn" *ngIf="role == 'citizen'" (click)="applyForJobAd(job._id!)">Apply</button>
      </div>
    </div>
  </div>

  <ng-template #noJobAds>
    <p>No job ads available.</p>
  </ng-template>

</div>
