<nav-bar></nav-bar>
<div class="news-container">
  <h2>Create Job Ad</h2>

  <form (ngSubmit)="onSubmit()" #jobForm="ngForm">
    <div class="form-group">
      <label for="ad_title">Job Title</label>
      <input
        type="text"
        id="ad_title"
        name="ad_title"
        [(ngModel)]="ad_title"
        required
      />
    </div>

  <div class="form-group">
    <select [(ngModel)]="selectedJobId" name="jobSelect">
      <option *ngFor="let job of jobs" [value]="job._id">
        {{ job.position_name }}
      </option>
    </select>
  </div>

    <div class="form-group">
      <label for="job_description">Job Description</label>
      <textarea
        id="job_description"
        name="job_description"
        [(ngModel)]="job_description"
        rows="4"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="qualification">Qualification</label>
      <input
        type="text"
        id="qualification"
        name="qualification"
        [(ngModel)]="qualification"
        required
      />
    </div>

    <div class="form-group">
      <label for="job_type">Job Type</label>
      <input
        type="text"
        id="job_type"
        name="job_type"
        [(ngModel)]="job_type"
        required
      />
    </div>

    <button type="submit" class="create-btn" [disabled]="!jobForm.valid">
      Create Job Ad
    </button>
  </form>
</div>
