<nav-bar></nav-bar>

<div class="news-container">
  <h2>Company Details</h2>

  <div *ngIf="company; else noCompany">
    <div class="news-item">
      <h3>{{ company.company_name }}</h3>
      <p><b>Registration date:</b> {{ company.registration_date }}</p>
      <p><b>Status:</b> {{ company.status }}</p>
      <p><b>ID Number:</b> {{ company.id_number }}</p>
      <p><b>Tax ID:</b> {{ company.tax_id_number }}</p>
    </div>
  </div>

  <ng-template #noCompany>
    <p>No company details available.</p>
  </ng-template>

      <div class="reviews-container" *ngIf="reviews && reviews.length > 0; else noReviews">
      <h3>Company Reviews</h3>
      <div *ngFor="let review of reviews" class="review-item">
        <!-- Show stars based on review.rating -->
        <p class="rating">
          <span *ngFor="let star of [].constructor(review.rating)">★</span>
        </p>
        <p>{{ review.description }}</p>
      </div>
    </div>

    <ng-template #noReviews>
      <p>No reviews available.</p>
    </ng-template>
</div>
