<nav-bar></nav-bar>

<div class="news-container">
  <h2>Employee details</h2>

  <div *ngIf="employee; else noEmployee">
    <div class="news-item">
      <h3>{{ employee.position_name }}</h3>
      <h4>{{ employee.company_name }}</h4>
      <p>{{ name }}</p>
      <p>{{ employee.citizen_ucn }}</p>
      <p><b>Start date:</b> {{ employee.start_date }}</p>
      <p><b>Pay:</b> {{ employee.pay | currency:'EUR':'symbol':'1.0-0' }} </p>
    </div>
  </div>
    <div class="action-bar">
    <button class="delete-btn" (click)="onQuit()">Quit</button>
  </div>
  <div class="review-form">
      <h3>Leave a Review</h3>
      <form (ngSubmit)="onSubmitReview()">
        <label for="rating">Rating (1-5)</label>
        <input type="number" id="rating" [(ngModel)]="review.rating" name="rating" min="1" max="5" required />

        <label for="description">Description</label>
        <textarea id="description" [(ngModel)]="review.description" name="description" rows="3" required></textarea>

        <button type="submit" class="create-btn">Submit Review</button>
      </form>
    </div>
      <ng-template #noEmployee>
    <p>No employee available.</p>
  </ng-template>
  </div>


