<nav-bar></nav-bar>
<button class="create-btn" (click)="onCreateNews()">Create News</button>
<div class="news-container">
  <h2>Company News</h2>
    <h2><input
    type="text"
    placeholder="Search news..."
    [(ngModel)]="searchTerm"
    class="search-input"
  /></h2>

  <div class="news-list" *ngIf="filteredNews.length > 0; else noNews">
    <div class="news-item" *ngFor="let item of filteredNews; let i = index">
      <div class="news-content">
        <h3>{{ item.title }}</h3>
        <!-- <p class="company">{{ item.companyName }}</p> -->
        <p class="description">{{ item.description }}</p>
      </div>
      <div class="news-actions">
        <button class="delete-btn" (click)="onDeleteNews(item._id!)">Delete</button>
      </div>
    </div>
  </div>

  <ng-template #noNews>
    <p>No news available.</p>
  </ng-template>
</div>
